{% extends "base.html" %}

{% block header %} <h2> {% block title %} Retrieve Your Own {% endblock %} </h2>
<br />
<p>You can <i><mark>retrieve</mark></i> one of your own pictures by uploading, and the result will show the <b>5
        best-reviewed</b> pictures.</p>
A little click, awesome result. Everything at your fingertips.
{% endblock %}

{% block content %}
<hr>
<div class="container center-container">

    <!-- child template -->
    <div class="row">
        <div class="col-md-7">
            <h2>Select an Image</h2>
            <br>

            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit">
            </form>
            <br>
            <p>Source Picture</p>
            <br>
            <img src="{{url_for('static', filename='queries/'+name)}}" />
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h2>Results</h2>
            <br>
            <table class="table" id="results-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="results">
                    {% for item, score in results|zip(scores) %}
                    <tr>
                        <td><img src="{{url_for('static', filename = item)}}" class="result-img" /> </td>
                        <td>
                            <p>{{score}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}